/*
CSS ID
#red {
  color: red;
}

#green {
  color: green;
}*/

/*
CSS Class
.red {
  color: red;
}

.green {
  color: green;
}*/

/*

p {
  color: white;
  color: rgb(255,0,0);
  color: rgb(100%,0%,0%);
  color: #16ce69;
}*/

/*
CSS комплексное обращение
div p.learning {
  color: green;
}

div p#learning {
  color: blue;
}

div p a {

}

p.learning {
  color: red;
}*/

/*p, span {
  color: red;
}*/

/*
OPACITY(прозрачность)
div#test {
  width: 500px;
  height: 500px;
  background: rgba(255,0,0,0.7);
  opacity: 0.5;
}*/

/*body {
  height: 3000px;
  background: green url('bg2.jpg') no-repeat fixed;
  background-color: green;
  background-image: url('bg2.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
}*/

html, body {
  width: 100%;
  height: 100%;
}

p.border {
  /*border-style: dotted; Точечная
  border-style: dashed; С прочерками
  border-style: solid; Цельная
  border-style: double; Двойная
  border-style: groove;
  border-style: ridge; С оттиском
  border-style: inset; С внутренним оттиском
  border-style: outset; С внешним оттиском
  border-style: none;
  border-style: dotted dashed solid double;
  */
  /*border-style: solid;*/
  /*border-width: 2px 10px 4px 20px;*/
  /*border-width: 5px;*/
  /*border-color: red green blue yellow;*/
  /*border-bottom-style: solid;*/
  /*border-color: red;*/
  /*border-style: dotted solid double; top, left/right, bottom
  border-style: dotted solid; top/bottom, left/right*/
  border: 2px solid green;
  /*margin: 10px 20px 30px; Внешние отступы*/
  /*padding: 50px; Внутренние отступы*/
  /*margin-top: 50px;*/
  /*border-radius: 10px;*/
  /*border-left: 6px solid blue;
  background-color: lightgrey;*/
  /*height: 50%;*/
  width: 70%;
  /*max-width: 700px;
  min-width: 400px;*/
  text-align: justify;
  text-indent: 50px;
  letter-spacing: 3px;
  line-height: 1.5;
  direction: ltr;
  word-spacing: -10px;
  text-shadow: 3px 2px black;
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
  text-transform: capitalize;
}
